.cactus {
    width: 5rem;
    height: 5rem;
}

.new-water-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.new-water-input input{
    width: 10rem;
    /* margin-right: 1rem; */
}

.new-water-log {
    margin-top: 2rem;
}

.waterlog-item {
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.log-list {
    margin-right: 3rem;
}

.sub-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.calendar-icon {
    margin-left: auto;
}

.log-list-container {
    display: flex;
    flex-direction: column;
}
