/* desktop only styles */

@media all and (min-width:800px) {
    .content-container {
        width: 100vw;
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media all and (max-width:800px) {
    .content-container {
        width: 100vw;
    }
}

.hero {
    align-items: start !important;
    width: 100%;
    /* background: linear-gradient(-90deg, var(--my-green), 10%, white); */
    padding-top: 3rem;
}