.container {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 40px;   
}

.formInput, .textarea, .formNumber {
    width: 75%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formInput:focus, .form-textarea:focus, .formNumber:focus {
    outline: none;
    border-color: #000;
}

.formButton {
    /* padding: 10px 20px; */
    max-width: 50%;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.formButton:hover {
    background-color: #303030;
}

.workoutList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.workoutItem {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 

}

.formSection, .listSection {
    margin-top: 20px;
}
.workoutItem button {
    padding: 10px 20px;
    color: white;
    background-color: blue; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.workoutItem button:hover {
    background-color: blue;  
}

.editContainer{
    display:flex;
    justify-content: end;
}

.editButton , .saveButton{
    margin-left:10px;
    color:blue;
    font-size: 14px;
    text-decoration: underline;
}

.selectedWorkout{
    color:blue;
    text-align:end;
    background-color:rgb(98, 208, 14);
    max-width:fit-content;
    margin-bottom: 10px;
    align-self:top;

}

.workoutActions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}

.editSaveActions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    margin-right: 10px;
    padding: 5px 10px; 
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.red {
    background-color: #dc3545; 
}

.button.green {
    background-color: #28a745; 
}
